* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 0 100px;
    padding: 32px;
    color: #fff9e6;
    background: linear-gradient(#16232e, #164c45, 
    #cc8d1a, #e3c75f);
    font-family: "Poppins", sans-serif;
}

header {
    display: flex;
    justify-content:space-between;
    align-items: center center;
    font-family: "Poppins", sans-serif;
    font-size: 24px;
}

header .logo {
    width: 100px;
}

a:hover {
    color:#cc8d1a;
    transition: 0.3s all;
}

img {
    width: 300px;
    border-radius: 80px;
}

title {
    flex-direction: column;
}

li a {
    display: inline;
    text-decoration: none;
    padding: 16px;
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    font-weight: 600;
    color:#eee1b6;
}

li {
    display: inline;
}

h1 {
    color:#eee1b6 ;
}

h2 {
    color: #16232e;
}

h4 {
    color: #eee1b6;
}

p {
    color:#eee1b6;
    font-weight: bold;
}

section {
    display: flex;
    margin-top: 100px;
    flex-direction:row;
    justify-content: space-between;
}

form {
    display: flex;
    flex-direction: column;
    max-width: 30%;

}

input {
    padding: 12px;
    margin-top: 8px;
    border-radius: 20px;
    border:none
}

form .buttom {
    font-weight: 900;
    width: 80px;
    cursor: pointer;
    background-color:#164c45
}

.buttom:hover {
    color:#e3c75f;
}

section .sobre {
    margin-top: 100px;
}

span {
    color:#16232e;
    font-size: 24px;
}

